@keyframes RotateRight {
    0%, 100% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(20deg);
    }
}

#contact-wrapper {
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-page {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.contact-page > img {
    animation: RotateRight 4s linear infinite;
    width: 120px;
}

.contact-page h2 {
    font-family: "Press Start 2P", sans-serif;
    margin-top: 1rem;
}

