footer {
    height: 8vh;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > p {
    font-family: "Press Start 2P", sans-serif;
    font-size: 0.8rem;
}

/* footer a {
    height: 30px;
    width: 30px;
} */

footer img {
    width: 20px;
}

footer a:nth-child(n+2) {
    margin-left: 0.75rem;
}